body{
background-color:#D0E0C0;

.photo{
  float:left;
  margin-right:30px;
}
#ingredient{
  border:2px solid lightcoral;
}
th,td{
  border:1px solid lightcoral;
}
.btn{
  -webkit-appearance:none;
  margin:5px;
}

}
